@charset "utf-8";
/* css document */
*{
margin:0;
padding:0;
font-size:100;
font-weight:normal;
}

html {
  background-color: white;}

body {
    background-color: #f8f9fa;
  font-family: 'Montserrat',sans-serif;
  }




header nav ul{
  display:flex;
  justify-content:flex-end;
  color:#f8f9fa;
  font-size: 12px;
  text-decoration: none;
  list-style: none;}

header nav a {
  display:flex;
  padding:0px 5px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color:#f8f9fa;}



  h1{
    font-weight: bold;
    text-align: center;
    color:white;
    padding:5px;
    font-size: 33px;
  }

  button {
    background-color: #fed136;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    padding:15px 30px;
    margin-left: 20px;
    margin-top: 20px;
}

header{
  padding-bottom: 20px;
}



h4{
  text-align: center;
  color:white;
  padding: 3px;
  font-family: serif;
  font-size: 20px;
}




  h3{
    text-align: center;
    color:black;
    font-weight: bold;
    font-size: 30px;
    }

  main p {
    text-align: center;
    font-family:'Roboto Slab',serif;
    font-size: 14px;
    color:darkgray;
    }

main h5{
  display: flex;
  color:black;
  font-size: 17px;
  margin-left: 50px;
  padding:10px;
  font-weight: bold;
  }



#intro{
  text-align: center;
  margin-right:380px;
  margin-left: 300px;
  margin-top: 60px;
  border-radius: 50px;
}




#hero{
  min-height:380px;
  background-image: url(../images/header-bg.jpg);
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:flex-end;}
}





#ecomm{
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
}

#responsive{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

#security{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}


main{
display: flex;
text-align: center;
max-width: 960px;
width: 90%;
margin-left: 100px;
padding-bottom: 20px;
}

main div{
display:flex;
flex-wrap: wrap;
}

section{
  text-align: center;
  margin-top:50px;
}

header p{
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  margin-top:10px;
  color:#fed136;}

  main img {
    margin-left: 40px;
    margin-right: 40px;
  }

  #social{
    display: flex;
    max-height: 50px;
    max-width: 900px
    width: 90%;
    justify-content: space-between;
    }

#space_area{
  max-height: 100px;
  margin-bottom: 50px;
  padding: 20px;
  padding-bottom: 50px;
}



footer p{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 12px;
}

section p{
  color:darkgray;
  font-style: 'Roboto Slab', italic;
  }

section div{
  text-align: center;
  max-height: 50px;
}

#map{
  min-height:580px;
  background-image: url(../images/map-image.png);
  background-size:cover;
  background-position:center;
  display:flex;
  }

#sunset{
display:flex;
max-width: 400px;
text-align: right;
}

  footer{
    display: inline-block;
  }
